[build]
builder = "nixpacks"
buildCommand = "npm install && npm run build"
watchPatterns = ["/src/**", "/public/**"]

[deploy]
startCommand = "npm run preview"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[nixpacks]
path = "./futurevision-ui"