[build]
builder = "nixpacks"
buildCommand = "npm install && npm run build"
rootDir = "./futurevision-ui"

[deploy]
startCommand = "npm run preview"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10